* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ima{
  background-image: linear-gradient(#fff,#ffc600);
}

nav div{
display: flex;  
justify-content: space-between; 

}

.junto{
  flex-direction: row;
  align-items: center;
  
}

nav p{
  justify-content: flex-end;
  font-family: 'Limelight', cursive;
  font-size: 1.5em;
  padding: 0em 0px 0px 9px;

}

img:first-child{
  width: 8%;
  padding: 0.2em;
}

.junto img:first-child{
width: 40%;
padding: 0em 0px 0px 0px;
}


ul{
  background-color: #ffc600;
  width: 100%;
  height: 50%;
  
}

  nav ul > li{

  width: 100%;
  text-align: center;
  }
  
NAV ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;  
  font-size: 1.5em;
  font-family: 'Limelight', cursive;
  align-items: flex-end;
  justify-content: space-between;
  list-style-type: none;
      }

h1{
    text-align: center;
}

td {

    height: 50px;

    width: 30px;

    background: #adadad;

    font: 12px verdana;							  

    text-align: center;

}

.mes {

        font: bold 12px verdana;

        background: #ffdf6d ;

        text-align: center;

        line-height: 35px;							

        height: 60px;

        width: 500px;


}

.semana {

        font: bold 12px verdana;

}

.dia {

        height: 23px;

        width: 30px;

        padding-top:6px;

        vertical-align:middle;

        position:relative;

}

.evento {

        position: relative;

        font: 9px verdana;

        color: #C30;

        position:absolute;

        right: -2px;

        top: -2px;					  

}

.calendario{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}


      .pacotes{  
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-left: 14%
       }
    
    .tex{
        padding: 1.6em 35px 35px 35px;
        border: solid black;
        background-color: rgb(250, 238, 173);
        border-radius: 8%;
        box-shadow: 5px 5px 5px;
    }

.ag{
    text-align: center;
}

#botao{
    text-align: center;
}

      #rodapé {
        background-image: linear-gradient(#ffc600,#fff);
        height: 10em;
        padding: 1.5%;
        
      }