* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ima{
    background-image: linear-gradient(#fff,#ffc600);
  }

nav div{
  display: flex;  
  justify-content: space-between; 
  
}

.junto{
    flex-direction: column;
    justify-content: center;
    
  }
  
  nav p{
    justify-content: flex-end;
    font-family: 'Limelight', cursive;
    font-size: 1.5em;
    padding: 0em 0px 0px 9px;
  
  }

img:first-child{
    width: 8%;
    padding: 0.2em;
  }

 .junto img:first-child{
  width: 20%;
  padding: 0em 0px 0px 0px;
  }
  

ul{
    background-color: #ffc600;
    width: 100%;
    height: 50%;
    
}

    nav ul > li{

    width: 100%;
    text-align: center;
    }
    
NAV ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    font-size: 1.5em;
    font-family: 'Limelight', cursive;
    align-items: flex-end;
    justify-content: space-between;
    list-style-type: none;
        }

    hr{
        background-color: black;
    }
          

h1 {
    text-align: center;
    color: brown;
    padding: 1.7em 20px 50px 20px;
    font-size: 1.6em;
    font-family: 'Limelight', cursive;
    margin-right: 3em;
}

.pacotes{  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
   }

.tex{
    padding: 1.6em 35px 35px 35px;
    border: solid black;
    background-color: rgb(250, 238, 173);
    border-radius: 8%;
    box-shadow: 5px 5px 5px;
    margin-right: 9em;
}

.compra{
    color: rgb(155, 21, 21);
    font-size: 1.6em;
    text-align: center;
    border: 2px solid;
    
}

#tudo{
    background-image: linear-gradient(#ffc600,#fff);  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 38em; 
}

p{
    font-size: 1.5em;
}


#rodapé {
    background-image: linear-gradient(#ffc600,#fff);
    height: 30%;
    padding: 1.5%;
  }